/* ========== */
/* SPACING */
/* ========== */

.mt-01 {
    margin-top: calc(var(--space) * 1);
}

.mt-02 {
    margin-top: calc(var(--space) * 2);
}

.mt-03 {
    margin-top: calc(var(--space) * 3);
}

.mt-04 {
    margin-top: calc(var(--space) * 4);
}

.mt-05 {
    margin-top: calc(var(--space) * 5);
}

.mt-06 {
    margin-top: calc(var(--space) * 6);
}

.mt-07 {
    margin-top: calc(var(--space) * 7);
}

.mt-08 {
    margin-top: calc(var(--space) * 8);
}

.mt-09 {
    margin-top: calc(var(--space) * 9);
}

.mt-10 {
    margin-top: calc(var(--space) * 10);
}

.mt-11 {
    margin-top: calc(var(--space) * 11);
}

.mt-12 {
    margin-top: calc(var(--space) * 12);
}

.mt-13 {
    margin-top: calc(var(--space) * 13);
}

.mt-14 {
    margin-top: calc(var(--space) * 14);
}

.mt-15 {
    margin-top: calc(var(--space) * 15);
}

.mt-16 {
    margin-top: calc(var(--space) * 16);
}

.mt-17 {
    margin-top: calc(var(--space) * 17);
}

.mt-18 {
    margin-top: calc(var(--space) * 18);
}

.mt-19 {
    margin-top: calc(var(--space) * 19);
}

.mt-20 {
    margin-top: calc(var(--space) * 20);
}

.mt-21 {
    margin-top: calc(var(--space) * 21);
}

.mt-22 {
    margin-top: calc(var(--space) * 22);
}

.mt-23 {
    margin-top: calc(var(--space) * 23);
}

.mt-24 {
    margin-top: calc(var(--space) * 24);
}

.mt-25 {
    margin-top: calc(var(--space) * 25);
}

.mt-26 {
    margin-top: calc(var(--space) * 26);
}

.mt-27 {
    margin-top: calc(var(--space) * 27);
}

.mt-28 {
    margin-top: calc(var(--space) * 28);
}

.mt-29 {
    margin-top: calc(var(--space) * 29);
}

.mt-30 {
    margin-top: calc(var(--space) * 30);
}

.mt-31 {
    margin-top: calc(var(--space) * 31);
}

.mt-32 {
    margin-top: calc(var(--space) * 32);
}

.mt-33 {
    margin-top: calc(var(--space) * 33);
}

.mt-34 {
    margin-top: calc(var(--space) * 34);
}

.mt-35 {
    margin-top: calc(var(--space) * 35);
}

.mt-36 {
    margin-top: calc(var(--space) * 36);
}

.mt-37 {
    margin-top: calc(var(--space) * 37);
}

.mt-38 {
    margin-top: calc(var(--space) * 38);
}

.mt-39 {
    margin-top: calc(var(--space) * 39);
}

.mt-40 {
    margin-top: calc(var(--space) * 40);
}


/* ========== */
/* GLOBAL */
/* ========== */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    color-scheme: light dark;

    --dark: #0F051D;
    --light: #fff;
    --slider: #000;
    --toggle-dark-mode: #1B1128;

    --heading: #0F051D;
    --para1: #7B7583;
    --para2: #B7B4BB;

    --bg-light: rgba(0, 0, 0, 0.05);
    --bg-dark: rgba(246, 242, 242, 0.2);
    --border-dark: rgba(255, 255, 255, 0.25);
    --border-light: rgba(131, 131, 131, 0.25);

    --space: 0.25rem;
}

body {
    background: light-dark(var(--light), var(--dark));
    color: light-dark(var(--heading), var(--light));
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    display: inline-flex;
    gap: 1rem;
    text-decoration: none;
    color: light-dark(var(--heading), var(--light));
    font-family: Inter, sans-serif;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 2rem;
    position: relative;
}

a::after {
    bottom: 0;
    translate: 0 .5rem;
    position: absolute;
    content: '';
    display: inline-block;
    width: 0;
    height: .2rem;
    background: linear-gradient(67deg, #2600FC 0%, #FF00EA 100%);
    transition: .3s;
}

a.active::after {
    width: 100%;
}

a:hover {
    transition: 0.3s;
    opacity: 0.7;
}

html {
    font-size: 10px;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

/* -------------- */
/* TYPOGRAPHY */

/* PARAGRAPH */

.p1 {
    color: light-dark(var(--para1), var(--para2));
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3.6rem;
}

p,
.p2 {
    color: light-dark(var(--para1), var(--para2));
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 3rem;
}

.p3 {
    color: light-dark(var(--para1), var(--para2));
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.7rem;
    /* 158.824% */
}

.p4 {
    color: light-dark(var(--para1), var(--para2));
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.4rem;
    /* 160% */
}

.p5 {
    color: light-dark(var(--para1), var(--para2));
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.1rem;
    /* 175% */
}




/* HEADING */

span:not(button span) {
    background: linear-gradient(67deg, #2600FC 0%, #FF00EA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

h1 {
    color: light-dark(var(--heading), var(--light));
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 7.2rem;
}

h2 {
    color: light-dark(var(--heading), var(--light));
    text-align: center;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 6.4rem;
}

h3 {
    color: light-dark(var(--heading), var(--light));
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 5.88rem;
}

h4 {
    color: light-dark(var(--heading), var(--light));
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.2rem;
}

h5 {
    color: light-dark(var(--heading), var(--light));
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 2.8rem;
}

h6 {
    color: light-dark(var(--heading), var(--light));
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.2rem;
}


/* ---------- */
/* BUTTON */

button {
    appearance: none;
    border: 0;
    outline: 0;
    border-radius: 5rem;
    background: linear-gradient(62deg, #2600FC 0%, #FF00EA 100%);
    color: var(--light);
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.16rem;
    padding: 2rem 4rem;

    display: inline-flex;
    gap: 1rem;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 4px 24px 0 rgba(38, 0, 252, 0.15), 0 1.5px 6px 0 rgba(255, 0, 234, 0.10);
    transform: scale(1.03);
}

/* ----------- */
/* DIVIDER */

img.divider {
    margin: 12rem auto;
    width: 7.676rem;
    display: block;
}

/* -------------- */
/* SVG */
svg {
    fill: light-dark(var(--heading), var(--light));
}

/* --------- */
/* LAYOUT */

.container {
    width: clamp(100%, 122rem, 100%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 40rem), 1fr));
    place-content: center;
    place-items: center;
}




/* ================ */
/* HEADER */
/* ================ */

header {
    padding-top: 8rem;
    position: relative;
}

header::before {
    display: none;
    content: '';
    position: absolute;
    opacity: .5;
    inset: 0;
    background: url("../images/header/light-mode-bg.png") no-repeat center / cover;
}






/* -------------- */
/* NAVIGATION */

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    margin-bottom: 8.5rem;
    width: 100%;
    backdrop-filter: blur(1.5rem);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

nav .links {
    display: flex;
    gap: 3.5rem;
}

nav .social {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav .menu {
    color: light-dark(var(--heading), var(--light));
    cursor: pointer;

}

nav .menu:hover {
    transition: .3s;
    opacity: .5;

}


/* SLIDER */

nav input[type="checkbox"]:checked~.links {
    right: 0;
}





@media screen and (max-width: 992px) {

    nav .social #twitter {
        display: none;
    }

    nav .menu {
        display: inline-block !important;
    }

    /* OVERLAY */
    header .overlay {
        display: none;
    }

    nav:has(input[type="checkbox"]:checked) .overlay {
        display: block;
        position: fixed;
        inset: 0;
        z-index: 8;
        background: rgba(0, 0, 0, 0.4);
        transition: 0.3s;
    }

    /* -------- */
    /* LINKS */

    nav .links {
        background: linear-gradient(light-dark(var(--light), var(--slider)), light-dark(var(--light), var(--slider))), linear-gradient(88deg, #2600FC 0%, #FF00EA 100%);
        background-clip: padding-box, border-box;
        background-origin: border-box;

        transition: .6s;
        border-top: .4rem solid transparent;
        flex-direction: column;
        position: fixed;
        z-index: 10;
        top: 0;
        right: -100%;
        width: min(100%, 35rem);
        height: 100vh;
        padding: 3rem 2.5rem;
        gap: 0;
    }


    /* SLIDER LOGO */
    nav .links .slider-logo {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        border: none;
    }


    /* ANCHOR */

    nav .links>* {
        padding: 1.1rem 0;
        border-top: .1rem solid rgba(255, 251, 251, 0.10);
    }

    nav .links .slider-social {
        display: flex !important;
        gap: 1.2rem;
        margin-top: 2rem;
    }

    nav .links .slider-social a:hover svg {
        transition: .3s;
        opacity: .5;
    }

    nav .links .slider-social svg {
        padding: 1.2rem 1.5rem;
        width: 1.6rem;
        height: 1.6rem;
        flex-shrink: 0;
        font-size: 1.6rem;
        border-radius: .3rem;
        border: .1rem solid light-dark(var(--heading), var(--light));
        box-sizing: content-box;
    }




}



/* -------------- */
/* BANNER */

header .banner {
    margin: 12rem 0;
    position: relative;
}

/* PERSON IMAGES */
header .banner .person {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: left;
}

header .banner .person-image img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 24px;
    box-shadow: 0px 0px 0px 3px #FFF;
    margin-right: -2rem;
}

header .banner .person-image img:last-child {
    margin-right: 0;
}

@media screen and (max-width:576px) {

    h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    header .banner {
        text-align: center;
    }

    header .banner .person {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}


/* -------------- */
/* DARK MODE */



@media screen and (prefers-color-scheme: dark) {
    :root:has(input[type="checkbox"]#dark:checked) {
        color-scheme: light;
    }

    :root:has(input[type="checkbox"]#dark:checked) header::before {
        display: block;
    }
}

@media screen and (prefers-color-scheme: light) {
    :root:has(input[type="checkbox"]#dark:checked) {
        color-scheme: dark;
    }

    :root:has(input[type="checkbox"]#dark:checked) header::before {
        display: none;
    }
}



#dark-mode {
    position: absolute;
    bottom: 0;
    right: 2rem;
    display: flex;

    width: 3.6rem;
    height: 3.6rem;
    padding: 1rem;
    border-radius: 50%;
    background: var(--toggle-dark-mode);
    box-shadow: 0rem 0.6rem 3.2rem -0.1rem rgba(0, 0, 0, 0.1);
    transition: .2s;
    animation: 2s pulse 5 linear;
}

#dark-mode:hover {
    opacity: .5;
}


@keyframes pulse {
    0% {
        box-shadow: 0rem 0.6rem 3.2rem -0.1rem rgba(0, 0, 0, 0.1), 0 0 0 0 #70f;
    }


    80% {
        box-shadow: 0rem 0.6rem 3.2rem -0.1rem rgba(0, 0, 0, 0.1), 0 0 0 2.5rem #f070;
        scale: 1.2;
    }
}


/* -------------- */
/* BRANDS */

header .brands {
    display: flex;
    flex-wrap: wrap;
    gap: 6.4rem;
    justify-content: center;
}


/* ========================= */
/* COLLECTION */
/* ========================= */



#collection .container {
    position: relative;
}

#collection .carousel-custom {
    text-align: center;
    min-height: 51.6rem;
    width: 100%;
}


#collection .card-wrapper .card-item .image img {
    border-radius: 1.6rem;
}

/* SWIPER  */

[class^="swiper-button"] {
    background: light-dark(var(--dark), var(--light));
    position: absolute;
    translate: -0% -50%;
    top: 50%;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    opacity: .4;
    transition: opacity .3s;
    text-align: center;
    align-content: center;
    z-index: 1;
}

#collection .container .swiper-button-prev {
    left: 0;

}

#collection .container .swiper-button-next {
    right: 0;
    translate: 0% -50% !important;
}


[class^="swiper-button"]::after {
    display: none;
}

[class^="swiper-button"]:hover {
    opacity: 1;
}





#collection .carousel-custom .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    background: light-dark(var(--dark), var(--light));
}


#collection .carousel-custom .swiper-pagination-bullet+.swiper-pagination-bullet {
    margin-left: 2.2rem;
}




/* ================= */
/* WHY CHOOSE US */
/* ================= */

#choose {
    background-image: url("../images/why-us/bg-icon1.png"), url("../images/why-us/bg-icon2.png"), url("../images/why-us/bg-icon3.png");
    background-repeat: no-repeat;
    background-size: 1.6rem, 2.4rem, 2.8rem;
    background-position: 25% 10%, 95% 90%, 5% 70%;
}

#choose .cards {
    padding: 5rem 0;
    min-height: 40rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 27.7rem);
    grid-auto-rows: min(35rem, 100%);
    justify-content: center;
    gap: 3rem;
}

#choose .cards .item {
    padding: 3rem;
    border-radius: 2.4rem;
    border: .1rem solid light-dark(var(--para1), var(--para2));
}

#choose .cards .item h5 {
    width: 10rem;
}

#choose .cards .item:nth-child(even) {
    translate: 0 4.8rem;
}

@media screen and (max-width: 768px) {
    #choose .cards .item:nth-child(even) {
        translate: 0;
    }
}




/* ================ */
/* SCORE */
/* ================ */

#score .score-container {
    text-align: center;
    columns: 27.7rem 4;
    column-rule: 1px solid light-dark(var(--para1), var(--para2));
}

#score .score-container .item {
    display: flex;
    flex-direction: column;
    min-height: 15.5rem;
}


/* =============== */
/* HOW IT WORKS */
/* =============== */

#how .text {
    width: clamp(28rem, 100%, min(100%, 50rem));
}

#how .grid {
    gap: 12rem 2rem;
    grid-template-columns: repeat(2, minmax(min(100%, 40rem), 1fr));
}

@media screen and (max-width: 992px) {
    #how .grid {
        grid-template-columns: repeat(1, minmax(min(100%, 40rem), 1fr));
        gap: 12rem 0;

    }
}

@media screen and (max-width: 576px) {
    #how .text {
        text-align: center;
    }

    #how .grid {
        gap: 4rem 0;
    }

    #how h3 {
        width: 70%;
        margin: auto;
        font-size: 4rem;
        line-height: 4rem;
    }
}


/* =================== */
/* NEVER MISS A DROP */
/* =================== */

#miss .container {
    padding: 6rem 3rem;
    border-radius: 3.2rem;
    border: .1rem solid light-dark(var(--para1), var(--para2));
    text-align: center;

    background-image:
        url("../images/never-miss/bg-icon1.png"),
        url("../images/never-miss/bg-icon2.png"),
        url("../images/never-miss/bg-icon3.png"),
        url("../images/never-miss/bg-icon4.png");
    background-repeat: no-repeat;
    background-size: 1.6rem, 3.2rem, 4.4rem, 2.4rem;
    background-position: 5% 5%, 90% 5%, 95% 95%, 10% 90%;
}

#miss form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: clamp(28rem, 100%, 60rem);
}

#miss form button {
    width: fit-content;
    height: 4.7rem;
    padding: 1.45rem 2.5rem;
}

#miss form input {
    width: 37rem;
    height: 4.7rem;
    padding: 1.45rem 2.5rem;
    border-radius: 50px;
    background: light-dark(var(--bg-light), var(--bg-dark));
    outline: 0;
    border: 0;
    appearance: none;
    text-align: left;
}

#miss form input::placeholder {
    color: light-dark(var(--para1), var(--para2));
    font-size: 1.5rem;
}

@media screen and (max-width: 576px) {
    #miss .container {
        padding: 6rem 1rem;
    }

    h2 {
        font-size: 4.2rem;
        line-height: 4.2rem;
    }
}



/* ================= */
/* ROADMAP */
/* ================= */

#roadmap .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(36.8rem, 100%));
    grid-auto-rows: min(100%, 46rem);
    justify-content: center;
    gap: 4.5rem;
}

@media screen and (max-width: 576px) {
    #roadmap .cards {
        gap: 3rem;
    }
}

#roadmap .cards .item {
    border-radius: 3.2rem;
    border: .1rem solid light-dark(var(--para1), var(--para2));
    padding: 3.3rem;
    position: relative;
}

#roadmap .cards .item::after {
    color: var(--light);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.43rem;
    font-family: "Inter", sans-serif;
    text-align: center;

    content: attr(data-percent) ' ' '%';
    white-space: pre-line;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;

    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: linear-gradient(25deg, #2600FC 0%, #FF00EA 100%);

    rotate: 16deg;
    padding: 0.4746rem 0.8405rem 0.3954rem 0.8595rem;
}

#roadmap .cards .item span {
    font-size: 1.6rem;
}

#roadmap .cards .item hr {
    width: 8rem;
    height: .1rem;
    color: light-dark(var(--para1), var(--para2));
    opacity: 1;
}

#roadmap .cards .item ul li {
    position: relative;
    text-indent: 2.8rem;
    /* 2rem width + .8rem gap */
}

#roadmap .cards .item ul li::before {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    left: 0;
    content: "";
    background: url("../images/roadmap/check.svg") no-repeat center / cover;
    display: inline-block;
    width: 2rem;
    height: 2rem;
}



/* ============== */
/* Meet */
/* ============== */

#meet .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(100%, 19.5rem));
    grid-auto-rows: min(100%, 35rem);
    gap: 3rem;
    justify-content: center;
    /* justify-items: center; */
}


#meet .cards .item {
    padding: 2.4rem;
    text-align: center;
}

#meet .cards .item:nth-child(odd) {
    translate: 0 3rem;
}


#meet .cards .item .social {
    display: flex;
    gap: 1.8rem;
    justify-content: center;
}

#meet .cards .item img {
    border-radius: 3.2rem;
    padding: 1rem;
    border: .1rem solid light-dark(var(--border-light), var(--border-dark));
    background: light-dark(var(--bg-light), var(--bg-dark));
}


@media screen and (max-width: 768px) {
    #meet .cards .item:nth-child(odd) {
        translate: 0;
    }
}

@media screen and (max-width: 576px) {
    h2 {
        font-size: 4.2rem;
        line-height: 4.2rem;
    }

    #meet .cards {
        gap: 0;
    }
}



/* ========================= */
/* QUESTION'S ANSWER */
/* ========================= */



#ans .accordion-custom {
    width: min(100%, 68.2rem);
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
    border-radius: 2.4rem;
    border: .1rem solid light-dark(var(--border-light), var(--border-dark));
}

#ans .accordion-custom .custom-item {
    padding: 2rem 0;
}

#ans .accordion-custom .custom-item+.custom-item {
    border-top: .1rem solid light-dark(var(--border-light), var(--border-dark));
}


#ans .accordion-custom .accordion-body {
    padding: 2rem 0;
}

#ans .accordion-custom .custom-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ans .accordion-custom .custom-button svg {
    transition: .3s;
    rotate: 180deg;

}

#ans .accordion-custom .custom-button[aria-expanded="false"] svg {
    rotate: 0deg;
}


/* ============== */
/* MINTING */
/* ============== */

#minting {
    padding: 15rem 0;
    text-align: center;
    position: relative;
}

#minting .container {
    background: url("../images/never-miss/bg-icon1.png"), url("../images/never-miss/bg-icon2.png"), url("../images/never-miss/bg-icon3.png"), url("../images/never-miss/bg-icon4.png");
    background-repeat: no-repeat;
    background-size: 2.5rem, 4rem, 4rem, 2rem;
    background-position: 15% 10%, 90% 10%, 10% 90%, 85% 90%;
}

#minting::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background: url("../images/minting/background.png") no-repeat center / cover, light-dark(var(--light), var(--dark));
    opacity: .25;
    pointer-events: none;
}

#minting>* {
    position: relative;
    z-index: 1;
    opacity: 1;
}



/* =============== */
/* FOOTER */
/* =============== */

footer .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.5rem;
}

footer .lists {
    display: flex;
    width: min(100%, 30rem);
    gap: 3.5rem;
}



footer .logo {
    width: min(35rem, 100%);
    margin-right: auto;
}

footer .logo .social {
    display: flex;
    gap: 2rem;
}


footer .flex:last-child {
    gap: 0 1rem;
}

footer .flex:last-child p:first-child {
    margin-right: auto;
}


@media screen and (max-width: 576px) {
    footer .lists {
        flex-direction: column;
    }

    footer .flex:last-child {
        justify-content: center;
        text-align: center;

    }

    footer .flex:last-child p:first-child {
        margin: 0;
    }
}